/* General Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    text-align: center;
}

h1 {
    font-size: 2em;
    color: #333;
    text-align: center;
    margin: 20px 0;
}

h1 b {
    margin-right: 10px;
}

p {
    font-size: 1.2em;
    color: #666;
    margin: 10px 0;
}
a.button1, a.button {
    text-decoration: none;
    color:black;
    background-color: white;
    padding: 10px 20px;
    border-radius: 5px;
    display: inline-block;
    margin: 10px 0;
    transition: background-color 0.3s;
}



/* Gallery Styles */
.gallery {
    border: 1px solid #ccc;
    margin: 20px;
    padding: 15px;
    width: calc(33% - 40px);
    box-sizing: border-box;
    display: inline-block;
    vertical-align: top;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #fff;
}

.gallery a {
    text-decoration: none;
    color: #333;
}

.gallery img {
    width: 100%;
    height: auto;
    border-radius: 10px;
    margin-bottom: 10px;
}

.gallery .des {
    font-size: 0.9em;
    color: #666;
    margin-bottom: 10px;
}

h {
    font-size: 1.1em;
    font-weight: bold;
    margin-bottom: 5px;
    display: block;
}

/* Responsive Design */
@media (max-width: 768px) {
    .gallery {
        width: calc(50% - 40px);
    }
}

@media (max-width: 480px) {
    .gallery {
        width: calc(100% - 40px);
    }
}
