
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
  color: #333;
}

header {
  position: relative;
  width: 100%;
  height: 400px;
  overflow: hidden;
}

.header-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.header-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 20px;
  border-radius: 10px;
}

.header-text h1 {
  font-size: 3em;
  margin: 0;
}

.home-link {
  display: inline-block;
  margin-top: 10px;
  padding: 10px 20px;
  background-color: #333;
  color: white;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.home-link:hover {
  background-color: #555;
}

nav {
  background-color: #333;
}

.nav-list {
  list-style: none;
  margin: 0;
  padding: 10px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.nav-list li {
  margin: 5px;
}

.nav-list a {
  text-decoration: none;
  color: white;
  background-color: #555;
  padding: 10px 20px;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.nav-list a:hover {
  background-color: #777;
}

/* Main Content Styles */
main {
  padding: 20px;
}

.destinations {
  text-align: center;
}

.destinations h2 {
  margin-bottom: 20px;
}

.destination-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.destination-item {
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 10px;
  margin: 10px;
  padding: 20px;
  width: 200px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.destination-item h3 {
  font-size: 1.2em;
  margin-bottom: 10px;
}

.destination-item img {
  width: 100%;
  height: auto;
  border-radius: 10px;
  margin-bottom: 10px;
}


footer {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 20px;
  position: relative;
  bottom: 0;
  width: 100%;
}


@media (max-width: 768px) {
  .destination-item {
      width: calc(50% - 40px);
  }
}

@media (max-width: 480px) {
  .destination-item {
      width: calc(100% - 40px);
  }
}
